data/processed/match_detail_clean.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Home_team_score" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Home_team_name" type="xs:string" />
              <xs:element minOccurs="0" name="Away_team_score" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Away_team_name" type="xs:string" />
              <xs:element minOccurs="0" name="attendance" type="xs:string" />
              <xs:element minOccurs="0" name="referee" type="xs:string" />
              <xs:element minOccurs="0" name="stadium" type="xs:string" />
              <xs:element minOccurs="0" name="Season" type="xs:string" />
              <xs:element minOccurs="0" name="Date" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>